{% assign pages = (site.pages | sort:'order') %}
<nav class="art-nav desktop-nav">
    <a href="/index.html#" class="art-menu-btn"></a>
    <ul class="art-hmenu">
{% for node in pages %}
  {% if node.url == page.url %}
    {% assign selected = 'class="active"' %}
  {% else %}
    {% assign selected = '' %}
  {% endif %}
  {% if node.lang == page.lang and node.title and node.url != '/404/' %}
      <li {{selected}}><a href="{{node.url}}" {{selected}}>{{node.title}}</a></li>
  {% endif %}
{% endfor %}
    </ul> 
</nav>
